################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Kendo/bin/Debug/net5.0
/Kendo/obj
